.header {
  position: relative;
  height: 30px;
  padding: 20px;
  text-align: center;
  .logout_btn {
    position: absolute;
    overflow: hidden;
    top: 22px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .title {
    display: inline-block;
    line-height: 30px;
    font-size: 17px;
    vertical-align: top;
  }
  .mode_btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}