.header {
  position: relative;
  height: 30px;
  border-bottom: 1px solid red;
  text-align: center;
  .login_btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  .mode_btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}