.header {
  position: relative;
  height: 30px;
  text-align: center;
  .logout_btn {
    position: absolute;
    top: 2px;
    left: 0;
  }
  .icon_logout {
    width: 25px;
    height: 25px;
    vertical-align: top;
  }
  .icon_user {
    width: 30px;
    height: 30px;
    vertical-align: top;
  }
  .title {
    display: inline-block;
    line-height: 30px;
    font-size: 17px;
    vertical-align: top;
  }
  .mode_btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}