button {
    border: 1px solid red;
}
.layer {
    background-color: blue;
    color: white;
    width: 100px;
    height: 100px;
}

.list_item {
    border: 1px solid green;
}

.count_button{
    border:1px;
}