.select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 20px 20px 0;
  background-color: #fff;
  .title_area {
    text-align: center;
    .title {
      display: inline-block;
      font-size: 18px;
      vertical-align: top;
    }
    .close_btn {
      position: absolute;
      top: 20px;
      left: 20px;
      .icon_close {
        width: 20px;
        height: 20px;
        vertical-align: top;
      }
    }
    .add_btn {
      position: fixed;
      left: 50%;
      bottom: 70px;
      width: 90px;
      height: 30px;
      line-height: 30px;
      margin-left: -45px;
      background-color: #eee;
      border-radius: 10px;
      text-align: center;
    }
  }
  .list_set {
    margin-top: 30px;
    .list {
      background-color: #eee;
      & + .list {
        margin-top: 20px;
      }
    }
    .info_area {
      overflow: hidden;
      width: 100%;
    }
    .thumb {
      position: relative;
      overflow: hidden;
      float: left;
      width: 50px;
      height: 50px;
      .profile {
        position: absolute;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        width: 100%;
        margin: auto;
      }
    }
    .name {
      display: table;
      overflow: hidden;
      height: 50px;
      padding-left: 20px;
      text-align: left;
      font-size: 15px;
      table-layout: fixed;
      .text {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}